._ {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.searchbarWrapper {
  width: 20rem;
}

.leftBlock {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.loaderOn {
  animation: 1s linear infinite loaderOn;
}
@keyframes loaderOn {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
