._ {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.canceled {
  fill: rgba(
    var(--canceled-color),
    var(--canceled-color),
    var(--canceled-color),
    1
  );
  fill-opacity: 0.5;
  stroke: rgba(
    var(--canceled-color),
    var(--canceled-color),
    var(--canceled-color),
    1
  );
  stroke-opacity: 0.5;
  color: rgba(
    var(--canceled-color),
    var(--canceled-color),
    var(--canceled-color),
    0.5
  );
}

.done {
  color: rgba(15, 184, 100, 0.5);
  stroke-opacity: 0.5;
  fill-opacity: 0.5;
}
