:root {
  --font-color: #000000;
  --background-color: #ffffff;
  --main-elements-color: #459df5;
  --dim-elements-color: #bad8f5;
  --warning-color: #f53152;
  --additional-filter-background: #ebf0f5;
  --background-color-white: #ffffff;
  --background-color-day-light-blue: #bad8f5;
  --background-color-blue: #459df5;
  --background-color-light-blue: #85b7ee;
  --canceled-color: 0;
}

body {
  color: var(--font-color);
  background-color: var(--background-color);
  font-family: "Ubuntu", sans-serif;
  margin: 0;
}

.dark {
  --font-color: #bcc4cc;
  --background-color: #2b2d33;
  --main-elements-color: #459df5;
  --dim-elements-color: #454e52;
  --additional-filter-background: #171b1f;
  --background-color-white: #454e52;
  --background-color-day-light-blue: #bad8f5;
  --background-color-blue: #459df5;
  --background-color-light-blue: #85b7ee;
  --canceled-color: 255;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.content {
  width: 25%;
  height: 50%;
  margin: auto auto;
}

.logo {
  color: var(--main-elements-color);
  font-size: 3rem;
  font-weight: bold;
}

.greeting {
  color: var(--main-elements-color);
  line-height: 1.4rem;
  margin: 3rem 0;
}

.input:last-child {
  margin-top: 1rem;
}

.logInButton {
  border: 1px solid var(--main-elements-color);
  margin-top: 1rem;
  transition: all 0.2s ease;
}

.logInButton:hover {
  color: #fff;
  background-color: var(--main-elements-color);
  transition: all 0.2s ease;
}
