._ {
  width: 12rem;
  display: flex;
  align-items: flex-end;
  position: relative;
}

.dropdownWrapper {
  position: absolute;
  top: 3.75rem;
  right: 0;
}

.flipped {
  transform: rotateX(180deg);
}

.button {
  opacity: 0.5;
}

.themeIcon {
  fill: var(--dim-elements-color);
}
